.option-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    top: 38px;
    left: 0px;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

.option-list .option-item {
    padding: 7px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.option-list .option-item:hover {
    background-color: #eee;
}