.header {
    background-color: #fff;
    padding-top: 10px;
    flex-grow: 1;
    height: 79px;
    width: 100%;
}

.header .header-content {
    gap: 36px;

}

.header .header-content .date {
    margin: 0px;
    color: var(--primary-typography);
    font-weight: 500;
    display: none;
}

@media screen and (min-width:768px) {
    .header .header-content .date {
        display: block;
    }
}

.header .header-content .btn-signin {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 2px 24px;
    font-size: 14px;
    display: none;
}

@media screen and (min-width:768px) {
    .header .header-content .btn-signin {
        display: block;
    }
}

.header .header-content .notification-wrapper {
    position: relative;
    display: none;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .header .header-content .notification-wrapper {
        display: block
    }
}

.header .header-content .notification-wrapper .notification-count {
    content: '';
    position: absolute;
    right: -7px;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 17px;
}

.header .header-content .notification-wrapper .icon-notification {
    font-size: 20px;
    color: var(--gray-color);
}

.header .header-content .user-info-wrapper {
    color: var(--soft-gray-color);
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}

@media screen and (min-width:576px) {
    .header .header-content .user-info-wrapper {}
}

@media screen and (min-width:992px) {
    .header .header-content .user-info-wrapper {
        margin-right: 50px;
    }
}

.header .header-content .user-info-wrapper .avatar {
    width: 40px;
    height: 40px;
}

.header .header-content .user-info-wrapper .user-name {
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: 400;
    font-size: 17px;

}

.header .header-content .user-info-wrapper .icon-chevron-down {
    position: absolute;
    top: 46%;
    right: -21px;
    transform: translateY(-50%);
    font-size: 13px;
}