.header {
    background-color: #fff;
    flex-grow: 1;
    height: 79px;
    width: 100%;
    align-items: flex-start;
    padding-top: 17px;
}

.header .header-content {
    gap: 26px;

}

.header .header-content .date {
    margin: 0px;
    color: var(--primary-typography);
    font-weight: 500;
    display: none;
    margin-right: 15px;
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .header .header-content .date {
        display: block;
    }
}

.header .header-content .btn-signin {
    background-color: #269f0f;
    color: #fff;
    padding: 2px 24px;
    font-size: 13px;
    display: none;
}

@media screen and (min-width:768px) {
    .header .header-content .btn-signin {
        display: block;
    }
}

.header .header-content .notification-wrapper {
    position: relative;
    display: none;
    cursor: pointer;
    border-right: 1px solid #e8e4e4;
    border-left: 1px solid #e8e4e4;
    padding-right: 14px;
    padding-left: 14px;
}

@media screen and (min-width:768px) {
    .header .header-content .notification-wrapper {
        display: block
    }
}

.header .header-content .notification-wrapper .notification-count {
    content: '';
    position: absolute;
    right: 7px;
    top: -8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 16px;  
}

.header .header-content .notification-wrapper .icon-notification {
    font-size: 20px;
    color: var(--gray-color);
}

.header .header-content .user-info-wrapper {
    color: var(--soft-gray-color);
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}

@media screen and (min-width:576px) {
    .header .header-content .user-info-wrapper {}
}

@media screen and (min-width:992px) {
    .header .header-content .user-info-wrapper {
        margin-right: 61px;
        margin-left: -11px;
    }
}

.header .header-content .user-info-wrapper .avatar {
    width: 30px;
    height: 30px;
}

.header .header-content .user-info-wrapper .user-name {
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: 400;
    font-size: 17px;

}

.header .header-content .user-info-wrapper .icon-chevron-down {
    position: absolute;
    top: 46%;
    right: -21px;
    transform: translateY(-50%);
    font-size: 13px;
}