.sidebar {
    padding-top: 59px;

    text-align: center;
    background-image: linear-gradient(to bottom, var(--primary-color),
            var(--primary-color-seconday));
    height: 100vh;

}

.sidebar .list .item {
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebar .list .item .item-link {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.sidebar .list .item.active .item-link,
.sidebar .list .item:hover .item-link {
    background: var(--primary-color-active);
}


.sidebar .list .item .item-link .icon-sidebar {
    font-size: 29px;
    margin-bottom: 8px;
}