.sidebar {
    padding-top: 59px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color-seconday));
    height: 100%;
    position: fixed;
    left: 0px;
    z-index: 99;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 106px;
}

.sidebar.sidebar-close {
    left: -106px;
}

.sidebar .gear-icon {
    position: absolute;
    right: -30px;
    top: 81px;
    color: #ffffff;
    background-color: var(--secondary-color);
    width: 30px;
    height: 29px;
    font-size: 13px;
    line-height: 29px;
    cursor: pointer;
}

.sidebar .gear-icon .icon {
    animation: moving-gear 1.4s linear infinite;
    transform-origin: 50%;
}

.sidebar .list .item {
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
}

.sidebar .list .item .employee-count {
    position: absolute;
    right: 26%;
    top: 5px;
    width: 20px;
    height: 20px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #ff6a6a;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}

.sidebar .list .item .item-link {
    padding: 18px 20px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.sidebar .list .item.active .item-link,
.sidebar .list .item:hover .item-link {
    background: var(--primary-color-active);
}


.sidebar .list .item .item-link .icon-sidebar {
    font-size: 29px;
    margin-bottom: 8px;
}

@keyframes moving-gear {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }

}