.page-wrapper {
    background-color: var(--main-color);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    position: relative;
    left: 0px;
}

.page-wrapper.toggle-page {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 106px;
}

.page-wrapper .search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width:1700px) {
    .page-wrapper .search {
        width: 100%;
    }
}

.page-wrapper .page {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width:900px) {
    .page-wrapper .page {
        padding-left: 36px;
        padding-right: 10px;
    }
}

.page-wrapper .searh-add-wrapper {
    margin-top: 35px;
    max-width: 1762px;
}

.page-wrapper .search-list-wrapper {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 32px;
    flex-grow: 1;
    margin-right: 10px;
}

.page-wrapper .search-list-wrapper .search-list-icon {
    position: absolute;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);
    color: #23aaeb;
    font-size: 16px;
}

.page-wrapper .search-list-wrapper input {
    padding: 4px 29px;
    color: #707070;
    border-radius: 5px;
}

.page-wrapper .search-list-wrapper input::placeholder {
    color: #707070;
    text-transform: capitalize;
    font-weight: 400;

}

@media screen and (max-width: 576px) {
    .page-wrapper .search {
        justify-content: center;
    }
}

.page-wrapper .btn-add {
    background-color: #2764ac;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

@media screen and (min-width:480px) {
    .page-wrapper .btn-add {
        margin-left: auto;
        margin-top: 0px;
    }
}

.page-wrapper .btn-add:hover,
.page-wrapper .btn-add:focus,
.page-wrapper .btn-add:active {
    background-color: #173b66;
    color: #fff;
    box-shadow: unset
}

.page-wrapper .btn-add .icon-add {
    margin-right: 8px;
    font-size: 16px;
}