.page-wrapper {
    background-color: var(--main-color);
    position: relative;
    left: 11%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 100vh;
}
.page-wrapper .search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page-wrapper .page {
    padding-left: 12px;
    padding-right: 12px;
}

@media screen and (min-width:768px) {
    .page-wrapper .page {
        padding-left: 39px;
        padding-right: 10px;
    }
}

.page-wrapper .searh-add-wrapper {
    margin-top: 35px;
}

.page-wrapper .search-list-wrapper {
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 32px;
    flex-grow: 1;
    margin-right: 10px;
}
/* @media screen and (min-width: 1800px) {

    .page-wrapper .search-list-wrapper {
        
    }
} */


.page-wrapper .search-list-wrapper .search-list-icon {
    position: absolute;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);
    color: #23aaeb;
    font-size: 20px;
}

.page-wrapper .search-list-wrapper input {
    padding: 5px 42px;
}

.page-wrappere .search-list-wrapper input::placeholder {
    color: #707070;
    text-transform: capitalize;
    font-weight: 400;

}
@media screen and ( max-width: 576px) {
    .page-wrapper .search {     
        justify-content: center;
    }
}
.page-wrapper .btn-add {
    background-color: #2764ac;
    color: #fff;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-right: 10px;
    margin-top: 10px;
}
@media screen and (min-width:480px) {
    .page-wrapper .btn-add {
        margin-left: auto;
        margin-top: 0px;
    }
}

.page-wrapper .btn-add:hover,
.page-wrapper .btn-add:focus,
.page-wrapper .btn-add:active {
    background-color: #173b66;
    color: #fff;
    box-shadow: unset
}

.page-wrapper .btn-add .icon-add {
    margin-right: 10px;

}